/*
 * ----------------------------------
 *  tumour_only Nextflow config file
 * ----------------------------------
 * Default config options for all environments.
 */

params {

  sampleCsv = null
  bamCsv = null
  refDir = null
  help = false
  runID = "tumour_only"
  assembly = "GRCh38"
  incOrder = null
  germline = true
  seqLevel = "WGS"
  exomeTag = null
  scatGath = null
  sampleCat = null
  multiqcConfig = "$baseDir/assets/tumour_only.multiQC_config.yaml"
  cosmic = false
  localPCGRdata = null
  phylogeny = false
  microbiome = false
  germOnly = false
  bamStage = null

  //Hartwig GRIDSS refs
  hartwigGPLURL37 = 'https://nextcloud.hartwigmedicalfoundation.nl/s/LTiKTd8XxBqwaiC/download?path=%2FHMFTools-Resources%2FGRIDSS-Purple-Linx-Docker/gpl_ref_data_37.gz'

  hartwigGPLURL38 = 'https://nextcloud.hartwigmedicalfoundation.nl/s/LTiKTd8XxBqwaiC/download?path=%2FHMFTools-Resources%2FGRIDSS-Purple-Linx-Docker/gpl_ref_data_38.gz'

  //PCGR data bundles
  pcgrURL37 = 'http://insilico.hpc.uio.no/pcgr/pcgr.databundle.grch37.20201123.tgz'
  pcgrURL38 = 'http://insilico.hpc.uio.no/pcgr/pcgr.databundle.grch38.20201123.tgz'
}

process {

  container = 'library://bruce.moran/default/projects:somatic_n-of-1.centos7.mamba'

}
profiles {

  genome {
    includeConfig 'conf/genome.config'
    includeConfig 'conf/genomes.config'
  }

  sonic {
    includeConfig 'conf/sonic.config'
    includeConfig 'conf/genomes.config'
  }

  genome_refs {
    includeConfig 'conf/genome_refs.config'
    includeConfig 'conf/genomes.config'
  }

  sonic_refs {
    includeConfig 'conf/sonic_refs.config'
    includeConfig 'conf/genomes.config'
  }

  singularity {
    singularity.enabled = true
  }
}

timeline {
  enabled = true
  file = "pipeline_info/tumour_only.timeline.html"
}

report {
  enabled = true
  file = "pipeline_info/tumour_only.report.html"
}

trace {
  enabled = true
  file = "pipeline_info/tumour_only.trace.txt"
}

dag {
  enabled = true
  file = "pipeline_info/tumour_only.dag.svg"
}

manifest {
  name = 'brucemoran/tumour_only'
  author = 'Bruce Moran'
  homePage = 'https://github.com/brucemoran/tumour_only'
  description = 'Nextflow tumour_only analysis pipeline'
  mainScript = 'main.nf'
  nextflowVersion = '>=19.10.0'
  version = '1.1'
}
