/*
 * -------------------------------------------
 *  Nextflow base config file for somatic_n-of-1
 * -------------------------------------------
 * Imported under the default 'standard' Nextflow
 * profile in: nextflow.config
 */

process {

  withName:'cpsrreport|pcgrreport|pcgr_software_vers' {
    container = 'shub://brucemoran/Singularity:pcgr.9.1.docker'
  }
}
