/*
 * -------------------------------------------
 *  Nextflow base config file for somatic_n-of-1
 * -------------------------------------------
 * Imported under the default 'standard' Nextflow
 * profile in: nextflow.config
 */

process {

  withName:'gridss|gridss_filter|gridss_software_vers' {
    container = 'shub://brucemoran/Singularity:gridss.2.9.4.docker'
  }

  withName:'cpsrreport|pcgrreport|pcgr_software_vers' {
    container = 'shub://brucemoran/Singularity:pcgr.9.1.docker'
  }

  withName:'pairtree_run' {
    container = 'shub://brucemoran/Singularity:pairtree.centos7.mamba'
  }
}
