/*
 * ----------------------------------------------------------
 *  Nextflow config file for Genome HPC cluster (PBS/Torque)
 * ----------------------------------------------------------
 * Imported under the 'genome' Nextflow profile in:
 * nextflow.config
 */

params {

  //per process maximums
  max_memory = 64.GB
  max_cpus = 40
  max_time = 36.h

}

process {

  withName:'cpsrreport|pcgrreport|pcgr_software_vers' {
    container = 'shub://brucemoran/Singularity:pcgr.9.1.docker'
  }

  executor = 'pbs'
  cache = 'lenient'
  time = '48.h'

  withLabel:low_mem {
    cpus = 2
    memory = 4.GB
  }

  withLabel:med_mem {
    cpus = 5
    memory = 16.GB
  }

  withLabel:high_mem {
    cpus = 10
    memory = 32.GB
  }

  withLabel:max_mem {
    cpus = 20
    memory = 64.GB
  }

}

conda.cacheDir = '/data/genome/bmoran/conda/nextflow'

singularity {

  cacheDir = '/data/genome/bmoran/singularity/nextflow'
  runOptions = '--bind /data/genome/bmoran:/data/genome/bmoran'

}
