/*
 * -----------------------------------------------------
 *  somatic_exome_n-of-1 references Nextflow config file
 * -----------------------------------------------------
 * Imported under 'genome_refs' Nextflow profile in:
 * nextflow.config
 */

process {

  container = 'library://bruce.moran/default/projects:somatic_n-of-1.centos7.mamba'

  withLabel:gs {
    container = 'shub://brucemoran/Singularity:centos7-gsutil'
  }

  withLabel:low_mem {
    cpus = 2
    memory = 4.GB
  }

  withLabel:med_mem {
    cpus = 5
    memory = 16.GB
  }

  withLabel:high_mem {
    cpus = 10
    memory = 32.GB
  }

  withLabel:max_mem {
    cpus = 20
    memory = 64.GB
  }

  withName:cosmic {
    executor = 'local'
    cache = 'lenient'
  }
}

singularity {

  cacheDir = '/where/is/your/cache'
  runOptions = '--bind /what/to/bind:/what/to/bind'
  autoMounts = 'true'

}

params {

  //Hartwig GRIDSS refs
  hartwigGPLURL37 = 'https://nextcloud.hartwigmedicalfoundation.nl/s/LTiKTd8XxBqwaiC/download?path=%2FHMFTools-Resources%2FGRIDSS-Purple-Linx-Docker&files=gpl_ref_data_hg37.gz'

  hartwigGPLURL38 = 'https://nextcloud.hartwigmedicalfoundation.nl/s/LTiKTd8XxBqwaiC/download?path=%2FHMFTools-Resources%2FGRIDSS-Purple-Linx-Docker&files=gpl_ref_data_hg38.gz'

  //autoset which pipeline to run (GRCh38 by default)
  exomeBedURL = null
  exomeBedFile = null
  exomeTag = null
  exomeAssembly = 'GRCh37'

  //old tools not supported but not removed from script turned off by this
  legacy = null

  //for upcoming 'tumour-only' pipeline/spinoff
  pisces = null

  //COSMIC
  cosmicUser = null
  cosmicPass = null
  cosmicVers = "v91"
}

timeline {
  enabled = true
  file = "pipeline_info/download-references.${params.assembly}.timeline.html"
}

report {
  enabled = true
  file = "pipeline_info/download-references.${params.assembly}.report.html"
}

trace {
  enabled = true
  file = "pipeline_info/download-references.${params.assembly}.trace.txt"
}

dag {
  enabled = true
  file = "pipeline_info/download-references.${params.assembly}.dag.svg"
}
