/*
 * -----------------------------------------------------
 *  somatic_level_n-of-1 references Nextflow config file
 * -----------------------------------------------------
 * Default config options for all environments.
 */
/*
 * --------------------------------------------------------
 *  Nextflow config file for UCD Sonic HPC cluster (SLURM)
 * --------------------------------------------------------
 * Imported under 'sonic_refs' Nextflow profile in:
 * nextflow.config
 *
 * NB that each node (67 standard) have 20 - 48 cores
 * so variabvle amounts of RAM
 */

process {

  executor = 'slurm'
  cache = 'lenient'
  time = '48.h'
  container = 'library://bruce.moran/default/projects:somatic_n-of-1.centos7.mamba'

  withLabel:gs {
    container = 'shub://brucemoran/Singularity:centos7-gsutil'
  }

  withLabel:low_mem {
    cpus = 2
  }

  withLabel:med_mem {
    cpus = 4
  }

  withLabel:high_mem {
    cpus = 12
  }

  withLabel:max_mem {
    cpus = 20
  }

}

conda.cacheDir = '/home/people/moranb/conda'

singularity {

  cacheDir = '/home/people/moranb/singularity/nextflow'
  autoMounts = 'true'

}

params {

  //Hartwig GRIDSS refs
  hartwigGPLURL37 = 'https://nextcloud.hartwigmedicalfoundation.nl/s/LTiKTd8XxBqwaiC/download?path=%2FHMFTools-Resources%2FOlder-Versions%2FGRIDSS-Purple-Linx-Docker&files=gpl_ref_data_37.gz'

  hartwigGPLURL38 = 'https://nextcloud.hartwigmedicalfoundation.nl/s/LTiKTd8XxBqwaiC/download?path=%2FHMFTools-Resources%2FOlder-Versions%2FGRIDSS-Purple-Linx-Docker&files=gpl_ref_data_38.gz&downloadStartSecret=nezl60o1p4'

  //autoset which pipeline to run (GRCh38 by default)
  seqLevel = "WGS"
  levelBedURL = null
  levelBedFile = null
  levelTag = null
  levelAssembly = 'GRCh37'

  //old tools not supported but not removed from script turned off by this
  legacy = null

  //for upcoming 'tumour-only' pipeline/spinoff
  pisces = null

  //COSMIC
  cosmicUser = null
  cosmicPass = null
  cosmicVers = "v94"
}

timeline {
  enabled = true
  file = "pipeline_info/download-references.${params.assembly}.timeline.html"
}

report {
  enabled = true
  file = "pipeline_info/download-references.${params.assembly}.report.html"
}

trace {
  enabled = true
  file = "pipeline_info/download-references.${params.assembly}.trace.txt"
}

dag {
  enabled = true
  file = "pipeline_info/download-references.${params.assembly}.dag.svg"
}
